<a href="https://colab.research.google.com/github/Cavalheiro93/mvp-data-analyst-global-ai-market/blob/main/Projeto_MVP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Global AI Job Market & Salary Trends 2025

AI Job Market Analysis Dataset 2025. Retrieved from Kaggle.com

## üí†Introdu√ß√£o e Defini√ß√£o do Problema

Com o grande avan√ßo da Intelig√™ncia Artificial, o mercado de trabalho tem passado por transforma√ß√µes significativas em escala global. Novas fun√ß√µes, cargos e √°reas de atua√ß√£o v√™m surgindo rapidamente, acompanhadas por uma crescente demanda por profissionais qualificados em diversas especialidades da IA.

Essa movimenta√ß√£o tem impulsionado contrata√ß√µes internacionais, promovendo a mobilidade de talentos e o trabalho remoto como tend√™ncia. Empresas de diferentes portes e regi√µes est√£o disputando profissionais capacitados, o que abre espa√ßo para an√°lises sobre desigualdade salarial, tend√™ncias de contrata√ß√£o e habilidades mais requisitadas.

Este projeto tem como objetivo analisar as principais tend√™ncias do mercado global de trabalho na √°rea de IA ‚Äî e, se poss√≠vel, fazer um recorte do cen√°rio brasileiro. Ser√£o investigadas quest√µes como:
- Quais √°reas est√£o em maior crescimento?
- Quais regi√µes est√£o contratando em maior escala?
- Quais s√£o as principais habilidades t√©cnicas exigidas?
- Como est√£o distribu√≠dos os sal√°rios globalmente?

A seguir ent√£o seguiremos com o nosso estudo, com o prop√≥sito de tentar responder todas essas quest√µes com An√°lise de Dados e boas pr√°ticas.

O Dataset pode ser encontrado no link abaixo:

https://www.kaggle.com/datasets/bismasajjad/global-ai-job-market-and-salary-trends-2025

---

## üí† Dicion√°rio de Dados - AI Job Dataset

| Coluna                  | Descri√ß√£o (PT-BR)                                                                 | Tipo     |
|------------------------|------------------------------------------------------------------------------------|----------|
| `job_id`               | Identificador √∫nico para cada vaga                                                | String   |
| `job_title`            | T√≠tulo padronizado do cargo                                                       | String   |
| `salary_usd`           | Sal√°rio anual em d√≥lares (USD)                                                    | Integer  |
| `salary_currency`      | Moeda original do sal√°rio                                                         | String   |
| `experience_level`     | N√≠vel de experi√™ncia (EN = J√∫nior, MI = Pleno, SE = S√™nior, EX = Executivo)       | String   |
| `employment_type`      | Tipo de contrata√ß√£o (FT = Tempo Integral, PT = Meio Per√≠odo, CT = Contrato, FL = Freelancer) | String |
| `company_location`     | Pa√≠s onde est√° localizada a empresa                                               | String   |
| `company_size`         | Porte da empresa (S = Pequena <50, M = M√©dia 50-250, L = Grande >250)             | String   |
| `employee_residence`   | Pa√≠s de resid√™ncia do funcion√°rio                                                 | String   |
| `remote_ratio`         | N√≠vel de trabalho remoto (0 = Presencial, 50 = H√≠brido, 100 = Remoto Total)       | Integer  |
| `required_skills`      | Top 5 habilidades exigidas (separadas por v√≠rgula)                                | String   |
| `education_required`   | N√≠vel m√≠nimo de escolaridade exigido                                              | String   |
| `years_experience`     | Anos de experi√™ncia exigidos                                                      | Integer  |
| `industry`             | Setor de atua√ß√£o da empresa                                                       | String   |
| `posting_date`         | Data em que a vaga foi publicada                                                  | Date     |
| `application_deadline`| Prazo final para candidatura                                                      | Date     |
| `job_description_length`| Quantidade de caracteres da descri√ß√£o da vaga                                   | Integer  |
| `benefits_score`       | Pontua√ß√£o num√©rica do pacote de benef√≠cios (1 a 10)                               | Float    |
| `company_name`       | Nome da Empresa                               | String    |

## üí† Pr√© An√°lise de Dados

Nesta etapa, realizaremos uma an√°lise explorat√≥ria para entender a estrutura e a qualidade do dataset. Vamos verificar:

- O formato e as dimens√µes da base
- Tipos de vari√°veis
- Presen√ßa de valores nulos ou discrepantes
- Estat√≠sticas descritivas das vari√°veis num√©ricas

Essas informa√ß√µes ser√£o essenciais para orientar os pr√≥ximos passos do projeto.

### üîπImporta√ß√£o das bibliotecas e Cria√ß√£o do Dataframe

In [2]:
import pandas as pd

file_path_github = "https://raw.githubusercontent.com/Cavalheiro93/mvp-data-analyst-global-ai-market/refs/heads/main/source/ai_job_dataset.csv"

df = pd.read_csv(file_path_github, sep=',', encoding='latin1')

### üîπLeitura das 5 primeiras linhas

Visualizamos as 5 primeiras linhas para entender a estrutura√ß√£o do Dataset

In [3]:
df.head()

,job_id,job_title,salary_usd,salary_currency,experience_level,employment_type,company_location,company_size,employee_residence,remote_ratio,required_skills,education_required,years_experience,industry,posting_date,application_deadline,job_description_length,benefits_score,company_name
0,AI00001,AI Research Scientist,90376,USD,SE,CT,China,M,China,50,"Tableau, PyTorch, Kubernetes, Linux, NLP",Bachelor,9,Automotive,2024-10-18,2024-11-07,1076,5.9,Smart Analytics
1,AI00002,AI Software Engineer,61895,USD,EN,CT,Canada,M,Ireland,100,"Deep Learning, AWS, Mathematics, Python, Docker",Master,1,Media,2024-11-20,2025-01-11,1268,5.2,TechCorp Inc
2,AI00003,AI Specialist,152626,USD,MI,FL,Switzerland,L,South Korea,0,"Kubernetes, Deep Learning, Java, Hadoop, NLP",Associate,2,Education,2025-03-18,2025-04-07,1974,9.4,Autonomous Tech
3,AI00004,NLP Engineer,80215,USD,SE,FL,India,M,India,50,"Scala, SQL, Linux, Python",PhD,7,Consulting,2024-12-23,2025-02-24,1345,8.6,Future Systems
4,AI00005,AI Consultant,54624,EUR,EN,PT,France,S,Singapore,100,"MLOps, Java, Tableau, Python",Master,0,Media,2025-04-15,2025-06-23,1989,6.6,Advanced Robotics

### üîπAn√°lise dos Tipos de Dados

In [4]:
df.dtypes

job_id                     object
job_title                  object
salary_usd                  int64
salary_currency            object
experience_level           object
employment_type            object
company_location           object
company_size               object
employee_residence         object
remote_ratio                int64
required_skills            object
education_required         object
years_experience            int64
industry                   object
posting_date               object
application_deadline       object
job_description_length      int64
benefits_score            float64
company_name               object
dtype: object

Usando a fun√ß√£o `df.dtypes`, percebemos que as colunas `posting_date` e `application_deadline` n√£o estavam no formato *date* conforme mencionado no Dicion√°rio de Dados.

Faremos o tratamento manualmente a seguir

## üî∂Pr√© Tratamento dos Dados com POO

Abaixo, faremos um pr√© tratamento nos dados, apenas para adequar os dados.

Para isso, usaremos Orienta√ß√£o a Objetos.

Criamos o arquivo `limpeza_dados.py` hospedado no *Github*.

Nele Temos a Classe `LimpezaDados`, que possui o atributo *self.caminho_arquivo* necess√°rio para rodar.

In [ ]:
!wget -nc https://raw.githubusercontent.com/Cavalheiro93/mvp-data-analyst-global-ai-market/refs/heads/main/limpeza_dados.py
from limpeza_dados import LimpezaDados
import pandas as pd

file_path_github = "https://raw.githubusercontent.com/Cavalheiro93/mvp-data-analyst-global-ai-market/refs/heads/main/source/ai_job_dataset.csv"

df = LimpezaDados(caminho_arquivo=file_path_github).executar_pipeline()
LimpezaDados(df).

'wget' nÔøΩo ÔøΩ reconhecido como um comando interno
ou externo, um programa operÔøΩvel ou um arquivo em lotes.

‚úÖ Arquivo carregado!
Valores nulos tratados
Duplicatas removidas
Datas convertidas para datetime
coluna 'experience_level' categorizado
coluna 'experience_level' categorizado
coluna 'employment_type' categorizado
coluna 'company_size' categorizado
üèÅ Fim do processo! DataFrame dispon√≠vel.

### üî∏Colunas `posting_date` e `application_deadline` para formato *datetime64*

Usamos a fun√ß√£o do Pandas `pd.to_datetime` para converter de str ‚Üí datetime

In [ ]:
df['posting_date'] = pd.to_datetime(df['posting_date'])
df['application_deadline'] = pd.to_datetime(df['application_deadline'])

### üî∏Coluna `remote_ratio` para o formato *category* | Atualiza√ß√£o dos Registros

In [ ]:
# Substitui os valores e j√° converte para tipo categ√≥rico
df['remote_ratio'] = df['remote_ratio'].map({
    0: '1-On-site',
    50: '2-Hybrid',
    100: '3-Remote'
}).astype('category')

### üî∏Coluna `experience_level` para o formato *category* | Atualiza√ß√£o dos Registros

In [ ]:
# Substitui os valores e j√° converte para tipo categ√≥rico
df['experience_level'] = df['experience_level'].map({
    'EN': '1- Entry-level',
    'MI': '2-Mid-level',
    'SE': '3-Senior',
    'EX': '4-Executive'
}).astype('category')

### üî∏Coluna `employment_type` para o formato *category* | Atualiza√ß√£o dos Registros

In [ ]:
# Substitui os valores e j√° converte para tipo categ√≥rico
df['employment_type'] = df['employment_type'].map({
    'FT': 'Full-time',
    'PT': 'Part-time',
    'CT': 'Contract',
    'FL': 'Freelance'
}).astype('category')

### üî∏Coluna `company_size` para o formato *category* | Atualiza√ß√£o dos Registros

In [ ]:
# Substitui os valores e j√° converte para tipo categ√≥rico
df['company_size'] = df['company_size'].map({
    'S': '1-Small [<50]',
    'M': '2-Medium [50-250]',
    'L': '3-Large [>250]'
}).astype('category')

Exibi√ß√£o do formato das Colunas

In [ ]:
df[['posting_date', 'application_deadline', 'remote_ratio', 'experience_level', 'employment_type', 'company_size']].dtypes

---

## üí† An√°lise descritiva dos dados

A seguir, usaremos a fun√ß√£o `df.describe` para exibir informa√ß√µes descritivas de cada uma das colunas, sendo elas:
- Contagem de registros
- Valores √önicos
- M√©dia
- Desvio padr√£o
- Quartal
- Minimo e M√°ximo
- Valor mais frequente e contagem da frequ√™ncia

### üîπ Descritiva das colunas tipo Texto

In [ ]:
# Seleciona apenas as colunas do tipo string (object)
df.select_dtypes(include='object').describe().transpose()

#### Resumo:
- N√£o temos registros vazios para as colunas de tipo Texto
- Como esper√°vamos, n√£o demos `job_id` repetidos, garantindo que ele √© uma chave prim√°ria
- A √°rea mais requisitada √© a ***Machine Learning Researcher*** aparecendo no dataset ***808 vezes***
- Embora apare√ßa ***17 vezes no campo `required_skills`***, o resultado de ***Python, TensorFlow, PyTorch*** n√£o diz muito se essas s√£o as principais habilidades requisitadas, por conta das multiplas variaveis poss√≠veis (13663). Para ter uma an√°lise mais cuidadosa, precisaremos ver esse campo de uma outra forma

### üîπ Descritiva das colunas tipo N√∫mero Inteiro

In [ ]:
# Seleciona apenas as colunas do tipo inteiro (int)
df.select_dtypes(include='int').describe().transpose()

#### Resumo:
- N√£o temos registros vazios para as colunas de tipo Inteiro
- O Sal√°rio anual varia entre 32k e 399k, com uma m√©dia aproximadamente de 115k.
- O desvio padr√£o de 60k indica que h√° uma **alta dispers√£o** salarial entre as vagas dispon√≠veis
- A exig√™ncia para a maior parte das vagas est√° em 5 anos de experi√™ncia, por√©m ainda h√° vagas que n√£o requerem experi√™ncia pr√©via (years_experience = 0)

### üîπ Descritiva das colunas tipo N√∫mero Decimal

In [ ]:
# Seleciona apenas as colunas do tipo decimais (float)
df.select_dtypes(include='float').describe().transpose()

#### Resumo:
- N√£o temos registros vazios para as colunas de tipo Decimais
- Grande parte dos beneficios est√£o com o score de 7.5
- O desvio padr√£o de 1.45 mostra que a maioria das avalia√ß√µes est√° relativamente pr√≥xima da m√©dia

### üîπ Descritiva das colunas tipo Data

In [ ]:
# Seleciona apenas as colunas do tipo data (datetime64)
df.select_dtypes(include='datetime64').describe().transpose()

#### Resumo
- N√£o temos registros vazios para as colunas de tipo Decimais
- A data em que as vagas foram postadas v√£o de 01/01/2024 at√© 30/04/2025

### üîπ Descritiva das colunas tipo Categoria

In [ ]:
# Seleciona apenas as colunas do tipo Categoria (category)
df.select_dtypes(include='category').describe().transpose()

#### Resumo
- N√£o temos registros vazios para as colunas de tipo Decimais
- Embora a maior parte das vagas sejam presenciais (On-site), ainda temos maior parte delas sendo remota ou h√≠brida

## üí† An√°lise Explorat√≥ria dos Dados
Nessa etapa faremos uma an√°lise mais detalhada dos dados. A ideia √© aprofundar no dataset para tirar insights valiosos, e tamb√©m definir o que usaremos e o que n√£o usaremos de informa√ß√£o

### üîπ Mapa de Calor (Heatmap)
A seguir, usaremos o mapa de calor (ou heatmap) para identificar as correla√ß√µes entre as vari√°veis do tipo num√©ricas

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Seleciona apenas colunas num√©ricas
df_numericas = df.select_dtypes(include=['int64', 'float64'])

# Calcula a matriz de correla√ß√£o
matriz_corr = df_numericas.corr()

# Define o tamanho da figura
plt.figure(figsize=(10, 6))

# Cria o heatmap com anota√ß√µes
sns.heatmap(matriz_corr, annot=True, cmap='coolwarm', fmt='.2f', linewidths=0.5)

# T√≠tulo
plt.title('Mapa de Correla√ß√£o entre Vari√°veis Num√©ricas')
plt.xticks(rotation=45)
plt.yticks(rotation=0)
plt.show()

Resumo:
- Percebemos uma forte correla√ß√£o entre Sal√°rio e Anos de Experi√™ncia, algo que j√° cogit√°vamos que fosse acontecer.
- Entretanto, os benef√≠cios n√£o acompanham essa mesma correla√ß√£o, por exemplo, Sal√°rios altos n√£o quer dizer que os benef√≠cios tamb√©m ser√£o melhores

### üîπ Gr√°fico de Dispers√£o (scatterplot)
J√° que identificamos a correla√ß√£o entre Sal√°rio e Anos de experi√™ncia, vamos usar o gr√°fico de dispers√£o (ou scatterplot), para entender melhor essa distribui√ß√£o

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))
sns.scatterplot(data=df, x='years_experience', y='salary_usd')
plt.title('Sal√°rio vs. Experi√™ncia Profissional')
plt.xlabel('Anos de Experi√™ncia')
plt.ylabel('Sal√°rio (USD)')
plt.show()

Resumo:
- Analisando os dados bem por cima (sem entrar no detalhe de √°rea de atua√ß√£o), percebmos que antes dos 10 anos de experi√™ncia, os sal√°rios n√£o passavam dos 250k de d√≥lares anuais.
- Somente a partir dos 10 anos que vemos os sal√°rios saltarem, chegando at√© os 400k anuais de dolares(embora seja um outlier)

### üîπ Gr√°fico de Caixa (boxplot)
J√° que identificamos a correla√ß√£o entre Sal√°rio e Anos de experi√™ncia, vamos usar o gr√°fico de dispers√£o (ou scatterplot), para entender melhor essa distribui√ß√£o

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Gr√°fico
plt.figure(figsize=(10, 6))
ax = sns.boxplot(data=df, x='experience_level', y='salary_usd')

# Quartis por categoria
quartis = df.groupby('experience_level')['salary_usd'].quantile([0.25, 0.5, 0.75]).unstack()

# Adiciona as anota√ß√µes no gr√°fico
for i, (cat, row) in enumerate(quartis.iterrows()):
    ax.text(i, row[0.25], f"Q1: {row[0.25]:,.0f}", color='red', ha='center', va='bottom', fontsize=8)
    ax.text(i, row[0.5], f"Q2: {row[0.5]:,.0f}", color='white', ha='center', va='bottom', fontsize=8)
    ax.text(i, row[0.75], f"Q3: {row[0.75]:,.0f}", color='blue', ha='center', va='bottom', fontsize=8)

plt.title("Distribui√ß√£o Salarial por N√≠vel de Experi√™ncia")
plt.ylabel("Sal√°rio (USD)")
plt.show()

Resumo:
- Analisando o boxplot, percebe-se que nos n√≠veis mais baixos de experi√™ncia, os sal√°rios s√£o mais concentrados. No caso do Entry-level, por exemplo, a maioria dos sal√°rios anuais est√° entre aproximadamente 50.000 e 75.000 USD. Existem algumas exce√ß√µes que chegam perto de 100.000 USD, mas valores acima disso s√£o considerados outliers.

- √Ä medida que o n√≠vel de experi√™ncia aumenta, observamos uma expans√£o significativa do IQR, indicando maior variabilidade salarial. Esse padr√£o mostra que os sal√°rios ficam menos previs√≠veis e mais dependentes de fatores individuais como √°rea de atua√ß√£o, localiza√ß√£o, e compet√™ncias.

- Percebe-se uma leve assimetria positiva na distribui√ß√£o salarial, com a mediana mais pr√≥xima do primeiro quartil (Q1) do que do terceiro (Q3), indicando que os sal√°rios est√£o mais concentrados nas faixas inferiores, enquanto os valores mais altos s√£o mais dispersos e geram outliers acima da m√©dia

- No n√≠vel Executive, a variabilidade √© claramente a maior de todas. A maior parte dos sal√°rios est√° entre 145.000 e 225.000 USD por ano, com uma mediana de aproximadamente 177.000 USD. Os bigodes superiores s√£o mais longos, indicando que, mesmo sem considerar os outliers, os valores j√° se estendem bastante. Al√©m disso, h√° uma concentra√ß√£o alta de outliers, com sal√°rios extrapolando os 225.000 USD e chegando pr√≥ximo dos 400.000 USD anuais.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.gridspec as gridspec
from seaborn import color_palette


# Lista de colunas categ√≥ricas (benefits_score ser√° tratado separado)
categorias = ['job_title', 'employment_type', 'company_location', 
              'company_size', 'employee_residence', 
              'remote_ratio', 'education_required', 'industry']

viridis = color_palette("viridis", len(categorias))

# Configura a grade: 4 linhas (a √∫ltima ser√° s√≥ para benefits_score), 3 colunas
fig = plt.figure(figsize=(18, 22))
gs = gridspec.GridSpec(4, 3, figure=fig)
gs.update(hspace=0.6)  # Espa√ßamento vertical

# Loop para os primeiros 8 gr√°ficos (3x3 menos o √∫ltimo espa√ßo)
for i, coluna in enumerate(categorias):
    ax = fig.add_subplot(gs[i // 3, i % 3])
    contagem = df[coluna].value_counts()
    sns.barplot(x=contagem.values, y=contagem.index, color=viridis[i], ax=ax)
    ax.set_title(f'Distribui√ß√£o: {coluna}', fontsize=12)
    ax.set_xlabel('Contagem')
    ax.set_ylabel('')

# Gr√°fico do benefits_score ocupando a linha inteira (linha 3, colunas 0 at√© 2)
ax_big = fig.add_subplot(gs[3, :])  # Usa a linha inteira
contagem_benefits = df['benefits_score'].value_counts()
sns.barplot(x=contagem_benefits.index, y=contagem_benefits.values, color=viridis[i], ax=ax_big)
ax_big.set_title('Distribui√ß√£o: benefits_score', fontsize=14)
ax_big.set_xlabel('Categoria')
ax_big.set_ylabel('Contagem')
ax_big.tick_params(axis='x', rotation=45)

plt.tight_layout()
plt.show()

#### Resumo
- Ap√≥s a visualiza√ß√£o consolidada de todos os gr√°ficos de barras, a primeira impress√£o √© de que os dados est√£o bem distribu√≠dos entre as categorias.
- Observamos uma boa varia√ß√£o entre os valores, sem a presen√ßa de categorias que dominam esmagadoramente os registros (ex: nenhuma com mais de 90% de ocorr√™ncia).

- Isso nos d√° seguran√ßa para an√°lises comparativas futuras, j√° que as categorias t√™m representatividade suficiente e n√£o sofrem com vi√©s por baixa amostragem.

- A √∫nica exce√ß√£o foi a vari√°vel `benefits_score`, que apresentou um leve padr√£o de concentra√ß√£o nas pontas:

    - Algumas empresas atribu√≠ram nota m√≠nima (5.0), enquanto outras marcaram nota m√°xima (10.0).

    - Mesmo assim, a distribui√ß√£o geral dos scores est√° relativamente pr√≥xima e equilibrada, sem grandes distor√ß√µes.

In [ ]:
sns.boxplot(x='company_location', y='benefits_score', data=df, palette='pastel')
plt.title('Distribui√ß√£o de Benefits Score por company_location')
plt.xlabel('Tamanho da Empresa')
plt.ylabel('Benefits Score')
plt.tick_params(axis='x', rotation=70)
plt.show()

Resumo: 
- Olhando por cima os benef√≠cios oferecios por Localidade das empresas, nenhuma se destaca fortemente em rela√ß√£o as outras.
- H√° alguns outliers nas pontas (5.0 e 10.0), mas o padr√£o central gira entre 7 e 8.
- Aparentemente, o pa√≠s da empresa n√£o √© um fator determinante isolado para o n√≠vel de benef√≠cios.

## üî∂Tratamento final dos Dados
Nesse momento j√° temos uma certa no√ß√£o do que iremos explorar nesse dataset. Podemos agora focar em fazer um "pente fino" nos dados, para deix√°-lo pronto para an√°lise final

### üî∏ Defini√ß√£o das Colunas do Dataset
Faremos a exclus√£o de algumas colunas desse dataset, para mant√™-lo mais limpo.
Quais colunas ser√£o exclu√≠das:
- `job_id` ‚Üí Coluna apenas de id, n√£o h√° necessidade de mant√™-la
- `salary_currency` ‚Üí A coluna `salary_usd` j√° nos informa o sal√°rio convertido em Dolar anuais
- `application_deadline` ‚Üí Esse prazo n√£o traz nenhuma informa√ß√£o relevante.
- `job_description_length` ‚Üí Essa coluna tamb√©m n√£o traz nenhuma informa√ß√£o que precisaremos
- `company_name` ‚Üí N√£o precisaremos dos nomes para as an√°lises tambem

In [ ]:
df = df.drop(columns=['job_id', 'salary_currency', 'application_deadline', 'job_description_length', 'company_name'])

In [ ]:
df.head(5)

### üî∏ Cria√ß√£o de um novo Dataframe baseado no required_skills

In [ ]:
# Suponha que a coluna com o tipo de √°rea se chame 'job_title' no DataFrame original
df_skills = df[['job_title', 'required_skills_list']].explode('required_skills_list').copy()

# Renomear a coluna para facilitar a leitura
df_skills.rename(columns={'required_skills_list': 'required_skill'}, inplace=True)

# Remover espa√ßos em branco e padronizar a capitaliza√ß√£o
df_skills['required_skill'] = df_skills['required_skill'].str.strip().str.title()

# Contar as ocorr√™ncias de cada habilidade por √°rea
df_skills = df_skills.groupby(['required_skill', 'job_title']).size().reset_index(name='qtd')

df_skills.head()

In [ ]:
# Criar df_skills com a coluna de √°rea inclu√≠da
df_skills = df[['job_title', 'required_skills_list']].explode('required_skills_list').copy()

# Padronizar o nome da coluna
df_skills.rename(columns={'required_skills_list': 'required_skill'}, inplace=True)

# Limpar espa√ßos e capitalizar
df_skills['required_skill'] = df_skills['required_skill'].str.strip().str.title()

In [ ]:
# Contar n√∫mero de vezes que cada habilidade aparece em cada √°rea
df_count = df_skills.groupby(['job_title', 'required_skill']).size().reset_index(name='qtd')

# Visualizar as primeiras linhas
df_count.head()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import ipywidgets as widgets
from IPython.display import display

# Lista com √°reas √∫nicas ordenadas
areas_disponiveis = sorted(df_skills['job_title'].unique())

# Criar o seletor
seletor_area = widgets.Dropdown(
    options=areas_disponiveis,
    description='√Årea:',
    style={'description_width': 'initial'},
    layout=widgets.Layout(width='50%')
)

# Fun√ß√£o para plotar o gr√°fico com base na sele√ß√£o
def plotar_habilidades_por_area(area_selecionada):
    df_area = df_count[df_count['job_title'] == area_selecionada]
    df_top = df_area.nlargest(10, 'qtd')
    
    plt.figure(figsize=(10, 6))
    sns.barplot(data=df_top, x='qtd', y='required_skill', palette='viridis')
    plt.title(f'Top 10 Habilidades - {area_selecionada}')
    plt.xlabel('N√∫mero de Vagas')
    plt.ylabel('Habilidade')
    plt.grid(axis='x', linestyle='--', alpha=0.5)
    plt.tight_layout()
    plt.show()

# Conectar o seletor √† fun√ß√£o
widgets.interact(plotar_habilidades_por_area, area_selecionada=seletor_area);

üì• Lendo o arquivo...
‚úÖ Arquivo carregado!
üßπ Tratando valores nulos...
üßΩ Removendo duplicatas...
üèÅ Fim do processo! DataFrame dispon√≠vel.

In [ ]:
df_teste